RewriteEngine on
#RewriteCond %{HTTP_HOST} ^yamz76.ru$ [NC,OR]
#RewriteCond %{HTTP_HOST} ^www.yamz76.ru$
<IfModule mod_deflate.c>
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript
</IfModule>
RewriteCond %{HTTP_HOST} ^([^www].*)$
RewriteRule ^(.*)$ http://www.%1/$1 [L,R=301]
RewriteCond %{REQUEST_URI} !public/
RewriteRule (.*) /public/$1 [L]