<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml>
    <head>
        <meta http-equiv=" Content-Type" content="text/html; charset=utf-8" />
<title>Заявка с сайта</title>
<style type="text/css">
	body {
		margin:      0;
		padding:     0;
		min-width:   100% !important;
		font-family: Verdana;

		}

	.content {
		width:      100%;
		max-width:  730px;
		background: #e4e4e4;
		}

	.header {
		text-align: center;
		}

	.table {
		background:      #fff;
		width:           100%;
		margin:          10px 0;
		border-collapse: collapse;
		}

	.table td {
		border: 1px #ccc solid;
		}

	.td-title {
		text-align: right;
		}

	.td-cont {
		text-align: left;
		}
</style>
</head>
<body>
<table width="730" align="left" border="0" class="content" cellpadding="0" cellspacing="0">
	<tr>
		<td class="header" style="padding:20px 0;background: #dddfff ">
			<h1 style="height: 50px;margin: 0">ООО «ЯрТрансАвто»</h1>
			﻿<p style="height: 50px;margin: 0">Заявка с сайта</p>
			﻿<p style="height: 50px;margin: 0;text-align: left">{{date('d.m.Y H:i')}}</p>
		</td>
	</tr>

	<tr>
		<td style="padding: 10px">
			<table>
				<tbody>
				<tr>
					<td class="td-title">
						Компания:
					</td>
					<td class="td-cont">
						БумТрест
					</td>
				</tr>
				<tr>
					<td class="td-title">
						Имя:
					</td>
					<td class="td-cont">
						Роман
					</td>
				</tr>
				<tr>
					<td class="td-title">
						Телефон:
					</td>
					<td class="td-cont">
						8 990 64646446
					</td>
				</tr>
				<tr>
					<td class="td-title">
						Email:
					</td>
					<td class="td-cont">
						ugc@skh.is
					</td>
				</tr>


				</tbody>
			</table>
		</td>
	</tr>


	<tr>


		<td style="padding: 10px">
			<table class="table table-bordered" cellpadding="0" cellspacing="0">
				<tbody>


				<tr class="active" id="row8370">
					<td style="width: 30px">
						1
					</td>
					<td>
						Гайка М10-1,25-6Н
					</td>
					<td>
						32.52
					</td>
					<td>
						<input
							type="number"
							value="1"
							min="1"
							class="form-control product-count"
							data-id="8370"
							data-price="32.52"
							id="count8370"
							name="count"/>
					</td>
					<td class="summ" id="summ8370"
					    style="text-align:center">
						32.52
					</td>
					<td
						class="del-product-item"
						id="del8370"
						data-id="8370"
						style="text-align:center">
						<a href="#"><i class="fa fa-times"></i></a>
					</td>

				</tr>

				<tr class="active" id="row8371">
					<td style="width: 30px">
						2
					</td>
					<td>
						Болт М12х1,25-6Дх30
					</td>
					<td>
						185.61
					</td>
					<td>
						<input
							type="number"
							value="10"
							min="1"
							class="form-control product-count"
							data-id="8371"
							data-price="185.61"
							id="count8371"
							name="count"/>
					</td>
					<td class="summ" id="summ8371"
					    style="text-align:center">
						1856.1
					</td>
					<td
						class="del-product-item"
						id="del8371"
						data-id="8371"
						style="text-align:center">
						<a href="#"><i class="fa fa-times"></i></a>
					</td>

				</tr>

				<tr class="active" id="row8373">
					<td style="width: 30px">
						3
					</td>
					<td>
						Болт М10х1х22
					</td>
					<td>
						25.46
					</td>
					<td>
						<input
							type="number"
							value="10"
							min="1"
							class="form-control product-count"
							data-id="8373"
							data-price="25.46"
							id="count8373"
							name="count"/>
					</td>
					<td class="summ" id="summ8373"
					    style="text-align:center">
						254.6
					</td>
					<td
						class="del-product-item"
						id="del8373"
						data-id="8373"
						style="text-align:center">
						<a href="#"><i class="fa fa-times"></i></a>
					</td>

				</tr>

				<tr class="active" id="row8375">
					<td style="width: 30px">
						4
					</td>
					<td>
						Болт М10х1х40
					</td>
					<td>
						39.58
					</td>
					<td>
						<input
							type="number"
							value="1"
							min="1"
							class="form-control product-count"
							data-id="8375"
							data-price="39.58"
							id="count8375"
							name="count"/>
					</td>
					<td class="summ" id="summ8375"
					    style="text-align:center">
						39.58
					</td>
					<td
						class="del-product-item"
						id="del8375"
						data-id="8375"
						style="text-align:center">
						<a href="#"><i class="fa fa-times"></i></a>
					</td>

				</tr>
				</tbody>
			</table>

		</td>
	</tr>
</table>


</div>

</body>
</html>